{% extends "base.html" %}
{% load i18n %}

{% block content %}
{% include "sponsor-menu.html" %}

<h1>{% trans 'The sponsorship process' %}</h1>

<p>
    {% blocktrans trimmed %}
    An <em>RFS</em> is a <em>request for sponsorship</em>. If you have a
    package to be uploaded to Debian, you should file a bug against the
    <em>sponsorship-requests</em> pseudo-package containing information
    about your package.
    {% endblocktrans %}
</p>

<h2>{% trans 'Asking for Sponsorship' %}</h2>

<p>
    {% blocktrans trimmed %}
    In general, sponsorship requests should be handled through the
    <a href="https://www.debian.org/Bugs/">Debian Bug Tracking System</a>.
    Please make sure both reports and comments are sent to the bug report
    (<em>nnn@bugs.debian.org</em>) <strong>only</strong>. A copy will be
    sent to the <em>debian-mentors</em> mailing list automatically by the
    bug tracker.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
    Once a source package has been prepared and made available (for example by
    uploading it to this site), file a new bug report against the
    <a href="https://bugs.debian.org/cgi-bin/pkgreport.cgi?pkg=sponsorship-requests"><em>sponsorship-requests</em></a>
    pseudo-package by using the template below.
    {% endblocktrans %}
</p>


<p>
    {% blocktrans trimmed %}
    You might not receive a reply to your request if you do not subscribe to the
    debian-mentors mailing list or to your sponsorship-requests bug. You can
    <a href="https://lists.debian.org/debian-mentors">subscribe to the mailing list</a>
    and follow simple steps to confirm your subscription request. It can also
    take time for sponsors to look over the requests, so please do not give up
    quickly and keep a watch over the mailing list. You can browse other
    packages and give other people feedback while you are waiting.
    {% endblocktrans %}
</p>


<h2>
    {% trans 'Template for an RFS bug' %}
    {% if upload %}
    {% trans 'for ' %}{{ upload.package.name }}
    {% endif %}
</h2>

<p>
{% if upload %}
    {% if categories %}
    <a href="mailto:submit@bugs.debian.org?subject=RFS: {{ upload.package.name }}/{{ upload.version }} {{ categories }} -- {{ upload.package.get_description }}&body={{ rfs_encoded }}">
    {% else %}
    <a href="mailto:submit@bugs.debian.org?subject=RFS: {{ upload.package.name }}/{{ upload.version }} -- {{ upload.package.get_description }}&body={{ rfs_encoded }}">
    {% endif %}
{% else %}
    <a href="mailto:submit@bugs.debian.org?subject=RFS: hello/3.1-4 [put in ITP, ITA, RC, NMU if applicable] -- friendly greeter&body={{ rfs_encoded }}">
{% endif %}
{% trans 'Send the completed template below by email' %}</a>
    {% blocktrans trimmed %}
    to our pseudo-package. If you prefer, you can also use the
    <a href="https://packages.debian.org/search?keywords=reportbug&searchon=names&exact=1&suite=all&section=main">reportbug</a>
    tool.
    {% endblocktrans %}
</p>


<pre>{% if upload %}
From: {{ upload.uploader.name }} &lt;{{ upload.uploader.email }}&gt;
{% else %}
From: J. Maintainer &lt;j@example.com&gt;
{% endif %}To: submit@bugs.debian.org{% if upload %}{% if categories %}
Subject: RFS: {{ upload.package.name }}/{{ upload.version }} {{ categories }} -- {{ upload.package.get_description }}{% else %}
Subject: RFS: {{ upload.package.name }}/{{ upload.version }} -- {{ upload.package.get_description }}{% endif %}{% else %}
Subject: RFS: hello/3.1-4 [put in ITP, ITA, RC, NMU if applicable] -- friendly greeter{% endif %}

{% include "rfs.html" %}
-- {% if upload %}
  {{ upload.uploader.name }}
{% else %}
  J. Maintainer
{% endif %}</pre>

<p>
    {% blocktrans trimmed %}
    Please indicate in the subject line if you are adding a new package to
    Debian (<tt>ITP</tt>), if you are adopting an existing package
    (<tt>ITA</tt>), or if you are fixing bugs in an existing package (via
    <tt>NMU</tt> or <tt>QA</tt>). If your upload also fixes Release Critical
    bugs, please add the <tt>RC</tt> indicator as well.
    {% endblocktrans %}
</p>

<pre>{% if upload %}
  Subject: RFS: {{ upload.package.name }}/1.0-1 [ITP] -- {{ upload.package.get_description }}
  Subject: RFS: {{ upload.package.name }}/1.0-2 [ITA] -- {{ upload.package.get_description }}
  Subject: RFS: {{ upload.package.name }}/1.0-1.1 [NMU] [RC] -- {{ upload.package.get_description }}
  Subject: RFS: {{ upload.package.name }}/1.0-3 [QA] -- {{ upload.package.get_description }}
  Subject: RFS: {{ upload.package.name }}/1.0-2 [RC] -- {{ upload.package.get_description }}
{% else %}
  Subject: RFS: hello/1.0-1 [ITP] -- friendly greeter
  Subject: RFS: hello/1.0-2 [ITA] -- friendly greeter
  Subject: RFS: hello/1.0-1.1 [NMU] [RC] -- friendly greeter
  Subject: RFS: hello/1.0-3 [QA] -- friendly greeter
  Subject: RFS: hello/1.0-2 [RC] -- friendly greeter
{% endif %}</pre>

<p>
    {% blocktrans trimmed %}
    The meaning of the indicators above is described below:
    {% endblocktrans %}
</p>

<dl>
    <dt>ITP</dt>
        <dd>
            {% blocktrans trimmed %}
            <tt>ITP</tt> stands for <em>Intend to package</em>. These are
            packages that do not exist in Debian yet. Such packages need to
            go through the <tt>NEW</tt> queue, where they are reviewed by an
            <a href="https://ftp-master.debian.org/new.html">FTP Master</a>.
            Packages that must go through NEW include renamed packages,
            packages moving between areas, and source packages that build
            new binary packages.
            {% endblocktrans %}
        </dd>
    <dt>ITA</dt>
        <dd>
            {% blocktrans trimmed %}
            <tt>ITA</tt> stands for <em>Intend to adopt</em>. These are
            packages which were orphaned in the past and which you intend
            to adopt.
            {% endblocktrans %}
        </dd>
    <dt>NMU</dt>
        <dd>
            {% blocktrans trimmed %}
            Your upload is a <em>Non-Maintainer Upload</em>, a version of a
            package that is not uploaded by the official Maintainer of a
            package, but rather by you. Special rules apply to these uploads.
            Please refer to the
            <a href="https://www.debian.org/doc/manuals/developers-reference/pkgs.html#nmu">Developer's Reference</a>
            for more information.
            {% endblocktrans %}
        </dd>
    <dt>QA</dt>
        <dd>
            {% blocktrans trimmed %}
            Your upload is a <tt>QA</tt> upload. Please refer to the
            respective section in the
            <a href="https://www.debian.org/doc/manuals/developers-reference/pkgs.html#nmu-qa-upload">Developer's Reference</a>
            to learn about <tt>QA</tt> uploads.
            {% endblocktrans %}
        </dd>
    <dt>RC</dt>
        <dd>
            {% blocktrans trimmed %}
            This is short for <em>Release-Critical</em>,  a class of bugs that
            are particularly important. Use this indicator if your request
            fixes an <tt>RC</tt> bug.
            {% endblocktrans %}
        </dd>
</dl>

<p>
    {% blocktrans trimmed %}
    Please keep track of the bug and respond to comments. If the bug was tagged
    <em>moreinfo</em> or <em>wontfix</em> and you think you have addressed the
    issues, please remove the respective tag.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
    If you changed the package to address concerns, please send a follow-up
    email to your sponsorship request bug (nnn@bugs.debian.org) with the URL
    to the source package and the most recent changelog entries, as you did
    for the initial request.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
    If there are issues with the upload after the bug was closed, for example
    when the package was rejected by the archive software, you can reopen the
    bug (again, please include references to the updated source package or ask
    for advice).
    {% endblocktrans %}
</p>

<h2>{% trans 'Reviewing Packages' %}</h2>

<p>
    {% blocktrans with url_sponsors=url_sponsors trimmed %}
    Anybody feeling competent enough is invited to review sponsorship requests.
    You do not need to be a Debian Developer to do so. We collect
    <a href={{ url_sponsors }}>hints for reviewing packages</a>
    on a dedicated webpage.
    {% endblocktrans %}
</p>

<p>
    {% blocktrans trimmed %}
    Please send any comments to <em>nnn@bugs.debian.org</em>, but do not send
    carbon copies to reviewers or the bug submitter. Assume they are subscribed
    to the mailing list unless they explicitly ask you to send them carbon
    copies. You can use the following tags to indicate progress:
    {% endblocktrans %}
</p>

<dl>
 <dt>moreinfo</dt>
    <dd>
        {% blocktrans trimmed %}
        A reviewer has asked questions that need a response or has requested
        changes to be made. The package needs work before it can be uploaded.
        {% endblocktrans %}
    </dd>
 <dt>confirmed</dt>
    <dd>
        {% blocktrans trimmed %}
        Somebody did a brief review of your package and it looks sane. It can
        still have (smaller) issues that need to be fixed before an upload.
        {% endblocktrans %}
    </dd>
 <dt>pending</dt>
    <dd>
        {% blocktrans trimmed %}
        Somebody is willing to look after the package until it is uploaded.
        {% endblocktrans %}
    <dd>
 <dt>wontfix</dt>
    <dd>
        {% blocktrans trimmed %}
        The package has significant problems or cannot not be uploaded at all.
        {% endblocktrans %}
    </dd>
</dl>

<p>
    {% blocktrans trimmed %}
    If you intend to take care of a sponsorship request until the related
    package is ready for upload, please consider setting yourself as the
    owner of the bug and tagging the bug as <em>pending</em>:
    {% endblocktrans %}
</p>

<code>$ bts owner nnn me@example.com</code><br />
<code>$ bts tag nnn +pending</code>

<h2>{% trans 'Uploading Packages' %}</h2>

<p>
    {% blocktrans trimmed %}
    After you upload a package, please close the bug report by sending an
    email to <em>nnn-done@bugs.debian.org</em>. Do not close RFS bugs in
    debian/changelog. The sponsor is responsible for solving the bug, not
    the supplier of the package or anyone related to the package itself.
    {% endblocktrans %}
</p>

<h2>{% trans 'Notes' %}</h2>

<p>
    {% blocktrans trimmed %}
    Inactive sponsorship requests should be closed after a reasonable period
    of time. We consider this to be two weeks for requests tagged
    <em>wontfix</em>, six weeks for requests tagged <em>moreinfo</em> and
    six months for other tags, as appropriate. The same applies to uploaded
    packages for which the sponsor forgot to close the RFS bug.
    {% endblocktrans %}
</p>
{% endblock %}
